
$color1:#2C3E50;
$color2:#F9B718;
$color3:#FFC12D;
$color4:#A47503;
$color5:#A1B1BC;
$color6:#558502;
$color7:#7BC200;
$color8:#97E411;
$color9:#F55C43;
$color10:#FD7761;
$color11:#8781BD;
$color12:#A39CDC;
$color13:#47B4F6;
$color14:#6FD9FC;
$color15:#E2E6E7;
$color16:#0787D4;
$color17:#5B568E;
$color18:#D52E13;