$main-text-color1: #FFFFFF;
$main-text-color2:#2C3E50;

$container-border-color:#E2E6E7;


$cirle1-border-color:#F9B718;
$circle1-color:#FFC12D;

$cirle2-border-color:#7BC200;
$circle2-color:#97E411;

$cirle3-border-color:#F55C43;
$circle3-color:#FD7761;

$cirle4-border-color:#47B4F6;
$circle4-color:#6FD9FC;

$cirle5-border-color:#8781BD;
$circle5-color:#A39CDC;
