@mixin h1-tag-laying {
    font-weight: 300;
    font-size: 30px;
    font-family: 'lato';
}

@mixin p1-tag-laying {
    color: #2C3E50;
    font-family: 'lato';
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.3px;
}


@mixin p2-tag-laying {
    width: 357.05px;
    height: 73.14px;
    color:#A1B1BC ;
    font-family: 'lato';
    font-size: 14px;
    font-weight:400;
    line-height: 24px;
}